.modal-wait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5); }

.modal-wait .wait {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  border: 0;
  padding: 0; }

.modal-wait .wait .masked-circle {
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 16px;
  border: 4px solid white;
  padding: 0; }

.modal-wait .wait .mask {
  width: 16px;
  height: 16px;
  overflow: hidden; }

.modal-wait .wait .spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  animation: dwSpin 1s infinite linear; }

@keyframes dwSpin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
