.foot-line {
  margin-top: 48px;
  border-top: 1px solid #29704a; }

.foot-l {
  clear: both; }

.foot-l .para {
  font-size: 0.5rem; }

@media (max-width: 768px) {
  .foot-line {
    margin-top: 32px; } }

@media (max-width: 576px) {
  .foot-line {
    margin-top: 32px; } }

.foot-l .left {
  padding-top: 5px;
  font-size: 0.8rem;
  line-height: 100%;
  float: left;
  text-align: left; }

.foot-l .right {
  padding-top: 5px;
  font-size: 0.8rem;
  line-height: 100%;
  float: right;
  text-align: right; }

@media (max-width: 576px) {
  .foot-l .left {
    float: none;
    text-align: left; }
  .foot-l .right {
    float: none;
    text-align: left; }
  .foot-l .para {
    display: none; } }

.foot-c {
  float: none; }

.foot-n {
  margin-top: 12px; }

.foot-n ul {
  list-style-type: none;
  text-align: center; }

.foot-n li {
  display: inline-block;
  padding: 0 6px 0 6px;
  color: #495057;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
  line-height: 100%; }

@media (max-width: 768px) {
  .foot-n {
    margin-top: 11px; }
  .foot-n li {
    padding: 0 4px 0 4px;
    font-size: 1.0rem; } }

@media (max-width: 576px) {
  .foot-n {
    margin-top: 10px; }
  .foot-n li {
    padding: 0 1px 0 1px;
    font-size: 1.0rem; } }

.foot-n .cur {
  font-weight: bold; }
