.gal {
  margin: 50px 0 0 0;
  padding: 0 30px 0 30px; }

@media (max-width: 768px) {
  .gal {
    margin: 40px 0 0 0;
    padding: 0 20px 0 20px; } }

@media (max-width: 576px) {
  .gal {
    margin: 30px 0 0 0;
    padding: 0 10px 0 10px; } }

.gal .clear {
  clear: both;
  padding: 0; }

.gal .photosingle {
    display: block;
    clear: both;
    padding: 0 12px 0 12px;
    width: 100%;
}
.gal .photosingle img {
    display: block;
    margin: 0 auto 0 auto;
    width: 60%;
    max-width: 100%;
}
.gal .photosingle p {
    color: #495057;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    text-align: center;
    font-weight: normal;
    padding: 12px 0 0 0;
    line-height: 150%;
}

@media (max-width: 768px) {
    .gal .photosingle {
        width: 100%;
        margin: 0 0 0 0;
    }
        .gal .photosingle img {
            width: 400px;
            max-width: 100%;
        }
}

@media (max-width: 576px) {
    .gal .photosingle {
        width: 100%;
        margin: 0 0 0 0;
    }
        .gal .photosingle img {
            width: 400px;
            max-width: 100%;
        }
}

.gal .photo {
  display: block;
  float: left;
  padding: 0 12px 0 12px;
  width: 50%; }

.gal .photo img {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%; }

.gal .photo p {
  color: #495057;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1.0rem;
  text-align: center;
  font-weight: normal;
  padding: 12px 0 0 0;
  line-height: 150%; }

.gal .mtopf {
  margin-top: 0; }

.gal .mtops {
  margin-top: 45px; }

@media (max-width: 768px) {
  .gal .photo {
    width: 100%;
    margin: 0 0 0 0; }
  .gal .mtopf {
    margin-top: 35px; }
  .gal .mtops {
    margin-top: 35px; } }

@media (max-width: 576px) {
  .gal .photo {
    width: 100%;
    margin: 0 0 0 0; }
  .gal .mtopf {
    margin-top: 25px; }
  .gal .mtops {
    margin-top: 25px; } }

.gal-det {
  margin: 40px 0 0 0;
  padding: 0 30px 0 30px; }

.gal-det h1 {
  text-align: center;
  padding-bottom: 14px; }

.gal-det p {
  text-align: center;
  padding-bottom: 14px; }

@media (max-width: 768px) {
  .gal-det {
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px; }
  .gal-det h1 {
    padding-bottom: 12px; }
  .gal-det p {
    padding-bottom: 12px; } }

@media (max-width: 576px) {
  .gal-det {
    margin: 20px 0 0 0;
    padding: 0 10px 0 10px; }
  .gal-det h1 {
    padding-bottom: 10px; }
  .gal-det p {
    padding-bottom: 10px; } }

.gal-det img {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%; }

.gal-det .m-tp0-bt0 {
  margin-top: 0;
  margin-bottom: 0; }

.gal-det .m-tp15-bt0 {
  margin-top: 15px;
  margin-bottom: 0; }

.gal-det .m-tp0-bt30 {
  margin-top: 0;
  margin-bottom: 30px; }

.gal-det .m-tp30-bt0 {
  margin-top: 30px;
  margin-bottom: 0; }

.gal-det .m-tp30-bt30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.gal-det .desc {
  margin-top: 20px;
  padding: 0 100px 0 100px; }

@media (max-width: 768px) {
  .gal-det .desc {
    margin-top: 20px;
    padding: 0 40px 0 40px; } }

@media (max-width: 576px) {
  .gal-det .desc {
    margin-top: 20px;
    padding: 0 8px 0 8px; } }
