.head-n {
  margin: 8px 0 16px 0; }

.head-n ul {
  list-style-type: none;
  text-align: right; }

.head-n li {
  display: inline-block;
  padding: 0 0 0 12px;
  color: #495057;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
  line-height: 100%; }

@media (max-width: 768px) {
  .head-n li {
    padding: 0 0 0 8px;
    font-size: 1.1rem; } }

@media (max-width: 576px) {
  .head-n li {
    padding: 0 0 0 2px;
    font-size: 1.0rem; } }

.head-n .cur {
  font-weight: bold; }

.head-i {
  position: relative; }

.head-i img {
  width: 100%; }

.head-i p {
  position: absolute;
  top: 4px;
  left: 0px;
  line-height: 100%;
  font-family: Times New Roman, Arial, Helvetica, sans-serif;
  font-size: 1.8rem; }

@media (max-width: 680px) {
  .head-i p {
    font-size: 1.5rem; } }

@media (max-width: 510px) {
  .head-i p {
    font-size: 1.2rem; } }

.head-i .black {
  color: black; }

.head-i .poppy-red {
  color: #ff1a1a; }
